    <div class="row">
        <div class="col-6 col-sm-6 col-lg-6 col-md-6 reseaux">
            <br><h6 class="titreFooter">Réseaux</h6><br>
            <div class="shortfooter">
                <a  href="https://www.facebook.com/" target="_blank">Facebook</a><br>
                <a  href="https://twitter.com/?lang=fr" target="_blank">Twitter</a><br>
                <a  href="https://www.google.com/?hl=fr" target="_blank">Google</a><br>
                <a  href="https://www.instagram.com/" target="_blank">Instagram</a><br>
                <a  href="https://www.youtube.com/?gl=FR&hl=fr" target="_blank">Youtube</a><br>
                <a  href="https://www.linkedin.com/feed/" target="_blank">Linkedin</a><br>
            </div><br>
        </div>
        <div class="col-6 col-sm-6 col-lg-6 col-md-6 partage">
            <br><h4 class="titreFooter">Partage</h4><br>
            <div class="fafooter">
            <!-- Facebook -->
                   <a target="_blank" title="Facebook" href="https://www.facebook.com/sharer.php?u={{ app.request.scheme ~ "://" ~ app.request.httpHost ~ app.request.requestUri }}" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"><i class="rsociaux fab  fa-facebook-square" title="facebook"></i></a>
            <!-- Twitter -->
                   <a target="_blank" title="Twitter" href="https://twitter.com/share?url={{ app.request.scheme ~ "://" ~ app.request.httpHost ~ app.request.requestUri }}" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;"><i class="rsociaux fab  fa-twitter" title="twitter"></i></a>
            <!-- Linkedin -->
                   <a target="_blank" title="Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.scheme ~ "://" ~ app.request.httpHost ~ app.request.requestUri }}" rel="nofollow" onclick="javascript:window.open(this.href, '','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;"><i class="rsociaux fab fa-linkedin-in" title="linkedin"></i></a>
            <iframe src="http://www.facebook.com/plugins/like.php?href=http://scribo.prope-me.com/&layout=box_count&show_faces=true&width=35&action=like&font=arial&colorscheme=light&height=35"
            class="frameFacebookImg"></iframe>
            </div>
        </div>
    </div>

