{# templates/booking/calendar.html.twig #}
{% extends 'calendrier/layout.html.twig' %}


{% block body %}
    <div class="">
        <button id='prev'>prev</button>
        <button id='next'>next</button>
    </div>
    <div id='calendar' class="miniCalendar"></div>
{% endblock %}
{% block javascripts %}
     {{ parent() }}
    <script src="{{ asset('js/calendrier_month.js') }}" type="text/javascript"></script>
{% endblock %}

